@model DashboardViewModel;

@{
    ViewData["Title"] = "Dashboard";
}

<div class="">
    <div class="row mb-3">
        <div class="col col-md-3">
            <div class="alert alert-info text-center" role="alert">
                <h4 class="alert-heading">4</h4>
                <p class="fw-bold">Active Projects</p>                
            </div>
            <div class="alert alert-secondary text-center" role="alert">
              <h4 class="alert-heading">12</h4>
              <p class="fw-bold">Total Tickets</p>                  
            </div>            
            <div class="alert alert-success text-center" role="alert">
              <h4 class="alert-heading">5</h4>
              <p class="fw-bold">Tickets in Progress</p>                  
            </div>
        </div>
        <div class="col col-md-3 p-3">
            <div class="bg-light p-3 h-100">
                <canvas id="ticketPriorityChart"></canvas>
            </div>            
        </div>
        <div class="col col-md-6 p-3 h-100">
            <div class="bg-light p-3">
                <canvas id="ticketStatusChart"></canvas>            
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col">
            <div>Recent Activity List</div>
        </div>
        <div class="col bg-light h-100">
            <div class="bg-light p-3">
                <canvas id="ticketTypeChart"></canvas>            
            </div>
        </div>
    </div>    
</div>

@section Scripts {
    <script type="text/javascript">
        // Colours: 
        // Blue: #417FEF
        // Grey: #ADB5BD
        // Light Blue: #17A2B8
        // Dark Grey: #343A40
        // Green: #00B973
        // Orange: #F0AD4E
        // Red: #D9534F        
        class ChartRenderer {
            constructor() {
                console.log("Initialized Chart");                
                this.renderTypeChart(); 
                this.renderStatusChart();
                this.renderPriorityChart();
            }

            // Render view and then fetch data from the server
            async renderTypeChart() {                
                const context = document.getElementById("ticketTypeChart");  
                const response = await fetch("chart/getTicketTypeData");
                const data = await response.json();
                
                const ticketTypeChart = new Chart(context, {
                    type: "doughnut",
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: "Tickets by Type",
                            backgroundColor: [  
                                '#D9534F',
                                '#417FEF',
                                '#00B973',                                                                
                                '#F0AD4E',                                                              
                            ],                    
                            data: data.values,
                        }],
                    },                    
                    options: {
                        title: {
                            display: false,
                            text: "Tickets by Type"
                        },    
                        responsive: true,
                    }
                });
            }

            async renderStatusChart() {                
                const context = document.getElementById("ticketStatusChart");  
                const response = await fetch("chart/getTicketStatusData");
                const data = await response.json();
                
                const ticketTypeChart = new Chart(context, {
                    type: "bar",
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: "Tickets by Status",
                            backgroundColor: [                                
                                '#ADB5BD',
                                '#F0AD4E',                                
                                '#417FEF',
                                '#17A2B8',                               
                                '#00B973',
                            ],                    
                            data: data.values,
                        }],
                    },                    
                    options: {
                        title: {
                            display: false,
                            text: "Tickets by Status"
                        },
                        responsive: true,
                        indexAxis: "x",
                        scales: {
                            x: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }                        
                });
            }

            async renderPriorityChart() {                
                const context = document.getElementById("ticketPriorityChart");  
                const response = await fetch("chart/getTicketPriorityData");
                const data = await response.json();
                
                const ticketPriorityChart = new Chart(context, {
                    type: "pie",
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: "Tickets by Priority",
                            backgroundColor: [   
                                '#00B973',
                                '#417FEF',                                                               
                                '#D9534F',                                                            
                            ],                    
                            data: data.values,
                        }],
                    },                    
                    options: {
                        title: {
                            display: false,
                            text: "Tickets by Priority"
                        },
                        responsive: true,
                    }                    
                });
            }

            // Load data on the server and then serialize to json
            @*renderTypeChart() {                
                const context = document.getElementById("ticketTypeChart");                     
                const ticketTypeChart = new Chart(context, {
                    type: "doughnut",
                    data: {
                        labels: @Html.Raw(Json.Serialize(Model.TicketTypeData.Labels)),
                        datasets: [{
                            label: "Tickets by Type",
                            backgroundColor: [                                
                                'rgb(60,141,188)',
                                'rgb(243,156,17)',
                                'rgb(0,166,90)',
                                'rgb(221,76,57)',
                                'rgb(0, 192, 239)',                               
                            ],
                            data: @Html.Raw(Json.Serialize(Model.TicketTypeData.Values)),
                        }],
                    },                    
                    options: {
                        scales: {
                            x: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }

            renderStatusChart() {                
                const context = document.getElementById("ticketStatusChart");                     
                const ticketStatusChart = new Chart(context, {
                    type: "bar",
                    data: {
                        labels: @Html.Raw(Json.Serialize(Model.TicketStatusData.Labels)),
                        datasets: [{
                            label: "Tickets by Status",
                            backgroundColor: [                                
                                'rgb(60,141,188)',
                                'rgb(243,156,17)',
                                'rgb(0,166,90)',
                                'rgb(221,76,57)',
                                'rgb(0, 192, 239)',                               
                            ],
                            data: @Html.Raw(Json.Serialize(Model.TicketStatusData.Values)),
                        }],
                    },                    
                    options: {
                        title: {
                            display: true,
                            text: "Tickets by Status"
                        },
                        scales: {
                            x: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }

            renderPriorityChart() {                
                const context = document.getElementById("ticketPriorityChart");                     
                const ticketPriorityChart = new Chart(context, {
                    type: "pie",
                    data: {
                        labels: @Html.Raw(Json.Serialize(Model.TicketPriorityData.Labels)),
                        datasets: [{
                            label: "Tickets by Priority",
                            backgroundColor: [                                
                                'rgb(60,141,188)',
                                'rgb(243,156,17)',
                                'rgb(0,166,90)',
                                'rgb(221,76,57)',
                                'rgb(0, 192, 239)',                               
                            ],                            
                            data: @Html.Raw(Json.Serialize(Model.TicketPriorityData.Values)),
                        }],
                    },                    
                    options: {                       
                        title: {
                            display: true,
                            text: "Tickets by Priority"
                        },                                                    
                    }
                });
            }*@                        
        }

        const chartRenderer = new ChartRenderer();
    </script>
}