@using BugTracker.Areas.Identity.Data
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model BugTracker.Models.ProjectViewModel

@{
    ViewData["Title"] = "Project Details";
    ViewBag.Users = Model.Users.ToPagedList<ApplicationUser>();
}

<div id="projectContainer" data-id="@Model?.Id" class="card">
  <div class="card-header bg-light">
      <h1 class="fs-3 mt-2">@Model.Name</h1>
      <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |      
      <a asp-action="ListProjects">Back to List</a> |
      <a href="" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteProjectModal">Delete</a>
  </div>
  <div class="card-body">
      <section class="row g-3 d-flex flex-column flex-xl-row">
        <div class="col">
            <div class="row mx-1">
                <div class="col card-body border-bottom">
                    <h2 class="card-subtitle text-secondary mb-2" style="font-size: 14px">Project Description</h2>
                    <p class="card-text">@Model?.Description</p> 
                </div>
            </div>

            <div class="row mt-3">
                <div class="">
                    <div class="card-header bg-light">
                        <h1 class="fs-3 mt-1">Assigned Personnel</h1>
                        <p class="text-secondary mb-0">Users working on this project</p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <div class="input-group-sm">
                                <input id="ticketListSearchInput" class="form-control mb-3" placeholder="Search Users..." />
                            </div>
                            <button id="manageUsersBtn" class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#projectUsersManagementModal">
                                Add/Remove
                            </button>
                        </div>                    
                        <table class="table">
                            <thead>
                                <tr>          
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>                     
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {                                
                                    <tr>
                                        <td>@user.UserName</td>                        
                                        <td>@user.Email</td>   
                                        <td>Developer</td>                                       
                                    </tr>                                         
                                }
                            </tbody> 
                        </table>
                        <div>
                            <p class="text-secondary" style="font-size: 14px">
                                Page @(ViewBag.Users.PageCount < ViewBag.Users.PageNumber ? 0 : ViewBag.Users.PageNumber) 
                                of @ViewBag.Users.PageCount
                            </p>                   
                            @Html.PagedListPager(
                                Model.Users.ToPagedList(), 
                                page => Url.Action("Details", new { page }),
                                new PagedListRenderOptions() 
                                {
                                    UlElementClasses = new string[] { "pagination", "mb-0" },
                                    LiElementClasses = new string[] { "page-item" },
                                    PageClasses = new string[] { "page-link" }
                                })
                        </div>  
                    </div>
                </div>
            </div>
        </div>

        <div class="col mt-3">
            <div class="">
                <div class="card-header bg-light">
                    <h1 class="fs-3 mt-1">Project Tickets</h1>
                    <p class="text-secondary mb-0">Condensed ticket information</p>                    
                </div>
                <div class="card-body table-responsive">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <div class="input-group-sm">
                            <input id="ticketListSearchInput" class="form-control mb-3" placeholder="Search Users..."  />
                        </div>
                        <button class="btn btn-primary mb-3" asp-action="Details">
                            Create
                        </button>
                    </div>  
                    <table class="table">
                        <thead>
                            <tr>          
                                <th scope="col">Title</th>
                                <th scope="col">Submitter</th>
                                <th scope="col">Developer</th>
                                <th scope="col">Status</th>
                                <th scope="col">Created</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets)
                            {                            
                                <tr>
                                    <td>@ticket.Title</td>                        
                                    <td>@ticket.Submitter</td>   
                                    <td>@ticket.AssignedDeveloper</td>
                                    <td>@ticket.Status</td>
                                    <td>@ticket.SubmittedDate</td>
                                    <td class="">                                        
                                        <a asp-controller="Ticket" asp-action="Details" asp-route-id="@ticket?.Id" class="link-info">Details</a>                            
                                    </td>
                                </tr>                               
                            }
                        </tbody>     
                    </table>
                    <div>
                        <p class="text-secondary" style="font-size: 14px">
                            Page @(Model.Tickets.PageCount < Model.Tickets.PageNumber ? 0 : Model.Tickets.PageNumber) 
                            of @Model.Tickets.PageCount
                        </p>                   
                        @Html.PagedListPager(
                            Model.Tickets, 
                            page => Url.Action("Details", new { Model.Id, page }),
                            new PagedListRenderOptions() 
                            {
                                UlElementClasses = new string[] { "pagination", "mb-0" },
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            })
                    </div>  
                </div>
            </div>
        </div>
      </section>
  </div>
</div>

<!-- Project Users Management Modal -->
<div class="modal fade" id="projectUsersManagementModal" tabindex="-1" aria-labelledby="projectUsersManagementModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Manage a user for this project</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <!-- UserName Input -->
                <div class="input-group">
                    <input id="userNameInput" type="text" class="form-control" placeholder="Enter UserName..." aria-label="UserName">
                </div>
            </div>
            <div class="modal-footer text-left">                
            <button type="button" class="btn btn-primary add-user" data-bs-dismiss="modal">Add User</button>
            <button type="button" class="btn btn-danger remove-user" data-bs-dismiss="modal">Remove User</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Project Modal -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Project Removal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" id="deleteProjectBtn" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Confirm">Confirm</button>       
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>       
      </div>
    </div>
  </div>
</div>
