@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col">
        <ul class="list-group list-group-flush">           
            <li class="list-group-item list-group-item-light">
                <p class="mb-1 fw-bold">First Name</p>
                <small>@Model.FirstName</small>                                     
            </li>               
            <li class="list-group-item list-group-item-light">
                <p class="mb-1 fw-bold">Last Name</p>
                <small>@Model.LastName</small>
            </li>                             
            <li class="list-group-item list-group-item-light">
                <p class="mb-1 fw-bold">Username</p>
                <small>@Model.Username</small>
            </li>
            <li class="list-group-item list-group-item-light">
                <p class="mb-1 fw-bold">Email</p>
                <small>@Model.Email</small>
            </li>  
        </ul>       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
