@model BugTracker.Models.RoleViewModel;

<style>
    .bi-plus-circle {
        margin-left: 5rem;
    }

    .bi-plus-circle:hover {
        background-color: #5B85FD;
    }

    .role-card {
        max-width: 800px;
    }
</style>

<div class="card mb-3 role-card" data-id="@Model.Id" data-index="@Model.Index">
    <div class="card-header">
        Role id: @Model.Id
    </div>
    <div class="card-body">      
        <input class="card-title fs-3 p-2 rounded border border-0 font-weight-bold role-name-input" disabled asp-for="@Model.Name" />
                
        <ul class="list-group error-list"></ul>
        <hr style="background-color: #d1d1d1" />        

        <div class="role-users-container d-flex flex-wrap align-items-center">           
            <div>
                <h2 class="fs-5">Users in this role</h2>
                <ul class="list-group list-group-horizontal-md mt-3 role-user-list">

                @if (!Model.Users.Any())
                {
                    <li class="list-group-item border-0 bg-light">No users are associated with this role</li>
                }
                else
                {                        
                    @foreach (var name in Model.Users)
                    {
                        <li class="list-group-item border-0 bg-light">@name</li>
                    }                        
                }   

                </ul>
            </div>                                    
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle rounded-circle user-dropdown-modal-icon" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#userDropdownModal">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>                      
        </div>                    

    </div>
    <div class="card-footer">
        <div class="my-2">
            <btn class="btn btn-primary text-white edit-role">Edit Role</btn>
            <btn class="btn btn-danger delete-role">Delete Role</btn>       
        </div>        

         <!-- Role Pagination -->
        <nav id="rolePagination" aria-label="collection of roles">                    
            <ul class="pagination mb-1">
                <li class="page-item page-item-previous"><a class="page-link">Previous</a></li>
                <li class="page-item page-item-one"><a class="page-link">1</a></li>
                <li class="page-item page-item-two"><a class="page-link">2</a></li>     
                <li class="page-item page-item-two"><a class="page-link">3</a></li>     
                <li class="page-item page-item-next"><a class="page-link">Next</a></li>
            </ul>                    
        </nav>
    </div>    
</div>
