@using X.PagedList
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<TicketComment>

<div id="commentListContainer">
    @if (!Model.Any())
    {
        <div class="alert alert-info fs-5 mt-3" role="alert">
            No one has commented on this ticket.
        </div>
    } else
    {
        <ul class="list-group">
            @foreach (var comment in Model)
            {
                <li class="list-group-item">
                    <small class="mb-3">@comment.Author.UserName commented on @comment.CreatedAt</small>
                    <p>@comment.Value</p>
                </li>
            }
        </ul>

        <div>
            <p class="text-secondary" style="font-size: 14px">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 
                of @Model.PageCount
            </p>                   
            @Html.PagedListPager(
                Model, 
                page => Url.Action("Details", new { ViewBag.Id, page }),
                new PagedListRenderOptions() 
                {
                    UlElementClasses = new string[] { "pagination", "mb-0" },
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
        </div>
    }
</div>    
