@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<Ticket>;

<div>
    @if (!Model.Any()) 
    {              
        <div class="alert alert-info fs-5 mt-3" role="alert">
            There are currently no tickets associated with your account.
        </div>    
    } 
    else
    {   
        <div class="table-responsive">
            <table class="table mb-3">
                <thead>
                    <tr>          
                        <th scope="col">Title</th>
                        <th scope="col">Reported By</th>
                        <th scope="col">Developer</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model)
                    {                                                     
                        <tr>
                            <td>@ticket.Title</td>                        
                            <td>@ticket.Submitter</td>   
                            <td>@ticket.AssignedDeveloper</td>
                            <td>@ticket.Status</td>
                            <td>@ticket.SubmittedDate</td>
                            <td class="d-flex flex-column">
                                <a href="" class="link-success">Manage Users</a>
                                <a asp-action="Details" asp-route-id="@ticket.Id" class="link-info">Details</a>                            
                            </td>
                        </tr>                                        
                    }     
                </tbody> 
            </table>    
            <div>
                <p class="text-secondary" style="font-size: 14px">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 
                    of @Model.PageCount
                </p>                   
                @Html.PagedListPager(
                    Model, 
                    page => Url.Action("ListTickets", new { page }),
                    new PagedListRenderOptions() 
                    {
                        UlElementClasses = new string[] { "pagination", "mb-0" },
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    })
            </div>                                                         
        </div>
    }        
</div>