@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject UserManager<ApplicationUser> userManager

@model IPagedList<TicketComment>

@{
    ApplicationUser loggedInUser = await userManager.FindByNameAsync(User.Identity.Name);
}

<div id="commentListContainer">
    @if (!Model.Any())
    {
        <div class="alert alert-info fs-5 mt-3" role="alert">
            No one has commented on this ticket.
        </div>
    } else
    {
        <ul class="list-group list-group-flush mb-3">
            @foreach (var comment in Model)
            {
                <li class="list-group-item">
                    @if (comment.Author == loggedInUser || await userManager.IsInRoleAsync(comment.Author, "Admin"))
                    {
                        <small class="text-secondary">@comment.Author.UserName commented on @comment.CreatedAt <a asp-action="DeleteComment" asp-route-id="@comment.Id" class="link-danger ms-1">Delete</a></small>   
                    } else
                    {
                        <small class="text-secondary">@comment.Author.UserName commented on @comment.CreatedAt</small>
                    }                                
                    <p class="mt-2 mb-0">@comment.Value</p>
                </li>
            }
        </ul>

        <div>
            <p class="text-secondary" style="font-size: 14px">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 
                of @Model.PageCount
            </p>                   
            @Html.PagedListPager(
                Model, 
                page => Url.Action("Details", new { ViewBag.Id, page }),
                new PagedListRenderOptions() 
                {
                    UlElementClasses = new string[] { "pagination", "mb-0" },
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
        </div>
    }
</div>    
