@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "Ticket";
}

<div>    
    <div class="row">        
        <div class="col-auto p-0" >
            <div class="card-header">
                <h4>@Model.Title</h4> 
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="ListTickets" class="text-primary">Back to List</a>
                </div>
            </div>    

            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Ticket Description</p>
                  <small>@Model.Description</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Assigned Developer</p>
                  <small>@Model.AssignedDeveloper</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Reported By</p>
                  <small>@Model.Submitter</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Created At</p>
                  <small>@Model.SubmittedDate</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Ticket Type</p>
                  <small>@Model.Type</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Ticket Status</p>
                  <small>@Model.Status</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Assigned Developer</p>
                  <small>@Model.Priority</small>
              </li>                            
            </ul>
        </div>
        <div class="col">

        </div>
    </div>
</div>

