@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model BugTracker.Models.TicketViewModel

@{
    ViewData["Title"] = "Ticket";
}

<div id="ticketContainer" data-id="@Model.Id">    
    <div class="row g-4 d-flex">        
        <div class="col-auto p-0">
            <div class="card-header">
                <h4>@Model.Title</h4> 
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="ListTickets" class="text-primary">Back to List</a> |
                    <a href="" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteTicketModal">Delete</a>
                </div>
            </div>    

            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Ticket Description</p>
                  <small>@Model.Description</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Assigned Developer</p>
                  <small>@Model.AssignedDeveloper</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Reported By</p>
                  <small>@Model.Submitter</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Created At</p>
                  <small>@Model.SubmittedDate</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Ticket Type</p>
                  <small>@Model.Type</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Ticket Status</p>
                  <small>@Model.Status</small>
              </li>
              <li class="list-group-item list-group-item-light">
                  <p class="mb-1 fw-bold">Priority</p>
                  <small>@Model.Priority</small>
              </li>                            
            </ul>
        </div>
        <div class="col">
            <div class="card" style="min-height: 550px">
                <div class="card-header bg-light">
                    <h1 class="fs-3 mt-1">Ticket History</h1>
                    <p class="text-secondary mb-0">Record of changes to this ticket</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>          
                                <th scope="col">Property</th>
                                <th scope="col">Old Value</th>
                                <th scope="col">New Value</th>                     
                                <th scope="col">Modified By</th>                     
                                <th scope="col">Date Changed</th>                     
                            </tr>
                        </thead>                                                
                        <tbody>
                            @if (!Model.HistoryRecords.Any())
                            {                              
                                @*<tr class="alert alert-primary" role="alert">
                                    A simple primary alert—check it out!
                                    </tr>*@
                            } else
                            {
                                foreach (var record in Model.HistoryRecords) 
                                {
                                    <tr>
                                        <td>@record.Property</td>
                                        <td>@record.OldValue</td>
                                        <td>@record.NewValue</td>
                                        <td>@record.Modifier</td>
                                        <td>@record.DateChanged</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="">
                        <p class="text-secondary" style="font-size: 14px">
                            Page @(Model.HistoryRecords.PageCount < Model.HistoryRecords.PageNumber ? 0 : Model.HistoryRecords.PageNumber) 
                            of @Model.HistoryRecords.PageCount
                        </p>                   
                        @Html.PagedListPager(
                            Model.HistoryRecords, 
                            page => Url.Action("Details", new { Model.Id, page }),
                            new PagedListRenderOptions() 
                            {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            })
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Ticket Modal -->
<div class="modal fade" id="deleteTicketModal" tabindex="-1" aria-labelledby="deleteTicketModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Ticket Removal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" id="deleteTicketBtn" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Confirm">Confirm</button>       
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>       
      </div>
    </div>
  </div>
</div>