@using BugTracker.Helpers
@using Microsoft.AspNetCore.Identity
@using BugTracker.Models

@inject RoleManager<IdentityRole> roleManager
@inject UserManager<ApplicationUser> userManager
@inject ProjectHelper projectHelper

@model BugTracker.Models.EditTicketViewModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .form-control {
        border-radius: 0;       
    }

    .create-ticket-input:focus {
        outline: none;
        box-shadow: none;
        padding-left: 0;
        margin-left: 0;
    }

    label {
        font-size: .85rem;
    }
</style>


<h4>Edit Ticket</h4>
<hr />
<section class="card">
    <form asp-action="Edit">                 
        <div class="card-body">          
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <input type="hidden" asp-for="Id" />                         
            <div class="row g-md-3">
                <div class="col-md-4">
                    <div class="form-control mb-4 border-0">                                
                        <label asp-for="Title" class="control-label text-secondary"></label>
                        <input asp-for="Title" class="create-ticket-input form-control border-0 border-bottom pb-0" />                                
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>    
                </div>
                <div class="col-md-4">
                    <div class="form-control mb-4 border-0">               
                        <label asp-for="Description" class="control-label text-secondary"></label>
                        <input asp-for="Description" class="create-ticket-input form-control border-0 border-bottom pb-0" />                
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row g-md-3">        
                <div class="col-md-4">   
                    <label class="create-ticket-select-label control-label mb-2 text-secondary">Associated Project</label>
                    <select asp-for="ProjectId" class="form-select mb-4" aria-label="Ticket project">
                        @foreach (var project in await projectHelper.GetUserRoleProjects())
                        {                   
                            <option value="@project.Id">@project.Name</option>                    
                        }               
                    </select>                  
                </div>
                <div class="col-md-4">
                    <label class="create-ticket-select-label control-label mb-2 text-secondary">Assigned Developer</label>
                    <select asp-for="AssignedDeveloperId" class="form-select mb-4" aria-label="Assigned Developer">                    
                        @foreach (var user in userManager.Users)
                        {
                            bool isInRole = await userManager.IsInRoleAsync(user, "Developer");

                            if (isInRole)
                            {
                                <option value="@user.Id">@user.UserName</option>
                            }
                        }
                        <option value="@null">None</option>
                    </select>          
                </div>
            </div>
            <div class="row g-md-3">
                <div class="col-md-4">
                     <label class="create-ticket-select-label control-label mb-2 text-secondary">Ticket Type</label>
                     <select asp-for="Type" class="form-select mb-4" aria-label="Ticket type">
                        <option>Bugs/Errors</option>
                        <option>Feature Requests</option>
                        <option>Other Comments</option>
                        <option>Training/Document Requests</option>
                    </select>   
                </div>
                <div class="col-md-4">
                    <label class="create-ticket-select-label control-label mb-2 text-secondary">Ticket Priority</label>
                    <select asp-for="Priority" class="form-select mb-4" aria-label="Ticket priority">
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                        <option>None</option>
                    </select>
                </div>
            </div>
            <div class="row g-md-3">
                <div class="col-md-4">
                    <label class="create-ticket-select-label control-label mb-2 text-secondary">Ticket Status</label>
                    <select asp-for="Status" class="form-select mb-4" aria-label="Ticket status">
                        <option selected>New</option>
                        <option>Open</option>
                        <option>In Progress</option>
                        <option>Resolved</option>
                        <option>Under Review</option>
                    </select>
                </div>    
            </div>             
        </div>

        <div class="card-footer d-flex align-items-end">
            <input type="submit" value="Save" class="btn btn-primary me-3" />
            <a asp-action="ListTickets">Back to List</a>
        </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
