@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "ListTickets";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SubmittedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Submitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AssignedDeveloper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDeveloper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>                
            </td>
        </tr>
    }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))